
<div style="border: 1px solid beige; padding: 10px; margin: 10px;">
    <div style="display: flex; justify-content: space-evenly; border: 1px solid beige;">
        <div id="milestones">milestones</div>
        <div id="standardprojects">standard projects</div>
        <div id="awards">awards</div>
    </div>
    <div style="display: flex; border: 1px solid beige;">
        <div id="players">
            name/company/color/terrapoints
            playerlist
        </div>
        <div id="tileboard">
            gameboard
        </div>
        <div>
            <div id="temperaturemeter"></div>
            <div id="oxygenmeter"></div>
            <div id="oceantiles"></div>
            <div id="generation"></div>
            meters/oceans/generation
        </div>
    </div>
    <div style="display: flex; justify-content: space-between;  border: 1px solid beige;">
        <div id="company">company</div>
        <div id="resources" style="display: flex;"></div>
        <div id="cards">cards</div>
        <div>
            <div id="cardresources">card resources</div>
            <div id="tags">tags</div>
            <div id="vp">vp</div>
            <div id="actions">actions</div>
            <div id="effects">effects</div>
        </div>
    </div>

</div>