<div style="border: 1px solid beige;  padding: 10px; margin: 10px;">
    <div id="playername">playername</div>
    <!-- <div id="resources" style="display: flex; justify-content: space-evenly;"></div> -->

    <!-- <div>
        <div>mulligan</div>
        <div id="mulligan" style="display: flex; justify-content: space-evenly;"></div>
    </div>
    <div>
        <div>hand</div>
        <div id="cards" style="display: flex; justify-content: space-evenly;"></div>
    </div>
    <div>
        <div>board</div>
        <div id="board" style="display: flex; justify-content: space-evenly;"></div>
    </div> -->
    
    
    <!-- <div id="playerturntoken">playerturntoken</div>
    <div id="playerstarttoken">playerstarttoken</div> -->
</div>