<div style="border: 1px solid beige;">
    <div style="display: flex; justify-content: space-evenly; padding: 10px;">
        <div>cost</div>
        <div>rules</div>
        <div>tags</div>
    </div>
    <div id="title" style="display: flex; justify-content: space-evenly;">
        <div>title</div>
    </div>
    <div id="image" style="display: flex; justify-content: space-evenly;">
        <div>image</div>
    </div>
    <div id="cardid" style="display: flex; justify-content: space-evenly;">
        <div>cardid</div>
    </div>
    <div id="effect" style="display: flex; justify-content: space-evenly;">
        <div>effect</div>
    </div>
    <div id="flavortext" style="display: flex; justify-content: space-evenly;">
        <div>flavor text</div>
    </div>
</div>